{% extends 'base.html.twig' %}

{% block title %}Create Profile{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('asset/css/test.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<div class="p-3 mx-auto text-center">
    <h1 class="display-4">Create Profile</h1>
</div>

<div class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="container-fluid">
                <div class="col-10 mx-auto">
{#                {{ form( form) }}#}
                    {{ form_start(form) }}
                    {{ form_widget(form.username) }}
                    {{ form_widget(form.firstname) }}
                    {{ form_widget(form.lastname) }}
                    {{ form_widget(form.email) }}
                    {{ form_widget(form.password) }}
                    {{ form_widget(form.tou) }}
                    <span>I agree and accept the&nbsp</span><a href="{{ path('legal-notices') }}">Terms of Use</a>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}




