{% extends 'base.html.twig' %}

{% block title %}Create Profile{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('asset/css/register.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<div class="p-3 mx-auto text-center">
    <h1 class="display-4"></h1>
</div>

<div class="container-fluid wh-100-80 section-bg mt-4 section-bg">
    <div class="col-8 mx-auto">
        <h1>Sign In<span>now</span></h1>
        {{ form_start(form) }}
        {{ form_widget(form.username) }}
        {{ form_widget(form.firstname) }}
        {{ form_widget(form.lastname) }}
        {{ form_widget(form.email) }}
        {{ form_widget(form.password) }}
        {{ form_widget(form.tou) }}
        <span>I agree and accept the&nbsp</span><a href="{{ path('legals') }}">Terms of Use</a>
        {{ form_end(form) }}

        </div>
        <h4>Already have an account?</h4>
        <a href="register.html.twig">Sign In</a>
</div>


{% endblock %}




