<div class="container-fluid mx-auto " id="filigrane">
    <div class="col d-flex mx-auto  mb-3 centerdiv arvo fw-bolder text-center ">
        <h1 class="fs-36 fw-bolder mt-4" >Follow us on: </h1>
    </div>

    <div class="d-flex justify-content-between">
        <div class="align-self-start mb-5">
            <img src="{{ asset('asset/img/tomate.png') }}" alt="" class=" img-fluid dish">
        </div>

        <div class="mt-5 ">
            <img class="" src="{{ asset('asset/img/facebookbtn.svg') }}" alt="Follow us on facebook">
        </div>
        <div class="mt-5 ">
            <img src="{{ asset('asset/img/instabtn.svg') }}" alt="Follow us on facebook">
        </div>
        <a class="mt-5 " href="">
            <img src="{{ asset('asset/img/pinterestbtn.svg') }}" alt="Follow us on facebook">
        </a>

        <div class="align-self-end align-items-end mt-5">
            <img   src="{{ asset('asset/img/ail.png') }}" alt="" class="src img-fluid dish">
        </div>

    </div>

<div class="class contact">
    <div class="class arvo fw-bolder justify-content-center text-decoration-none ">

        <a href="{{ path('contact', { 'alias' : 'contact' }) }}" class="href fs-25"> Contact & sales</a>  </div>

    <div class="class arvo fw-bolder justify-content-center text-decoration-none  ">
        <a href="{{ path('legals') }}" class="href fs-25"> GDPR </a> </div>


    <div class="class arvo fw-bolder justify-content-center text-decoration-none ">
        <a href="{{ path('legals') }}" class="href fs-25"> Privacy policy & terms </a> </div>

</div>
    <div class="class arvo  fw-bolder fs-25 justify-content-center text-center contact italic"> <br>
    © 2021 Foodies&Co, All rights reserved  </div>
</div>