<nav class="ml-5 mb-4 navbar navbar-expand-lg navbar-light navBG ">
    <a class="fs-54 navbar-brand bitter italic d-flex flex-column" href="{{ path('index') }}">
        <h1>Foodies<span class="fs-60 libre"> & </span>Co</h1>

        <img src="{{ asset('asset/img/fourchette.png') }}" alt="Logo Foodie & Co">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse arvo " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
{#            <li class="nav-item active">#}
{#                <a class="nav-link" href="{{ path('default_home') }}">Home <span class="sr-only"></span></a>#}
{#            </li>#}
            <li class="nav-item navAnimation">
                <a class="nav-link" href="{{ path('generator') }}">Recipe generator</a>
            </li>
            <li class="nav-item navAnimation">
                <a class="nav-link" href="{{ path('random-recipe')}}">Random recipe</a>
            </li>
            <li class="nav-item dropdown navAnimation">
                <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Recipes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('default_category', {'alias' : 'salty'}) }}">Salty</a>
                    <a class="dropdown-item" href="{{ path('default_category', {'alias' : 'sweets'}) }}">Sweets</a>
                    <a class="dropdown-item" href="{{ path('default_category', {'alias' : 'beverages'}) }}">Beverages</a>
                </div>

           {# <li class="nav-item navAnimation">
                <a class="nav-link grey" href="">Share your recipe</a>
            </li>
            <li class="nav-item dropdown navAnimation">
                <a class="nav-link  dropdown-toggle grey" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My Account
                </a>
                <div class="dropdown-menu grey" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item grey" href="{{ path('login') }}">Sign In</a>
                    <a class="dropdown-item grey" href="{{ path('register') }}">Sign Up</a>
                </div>#}
        </ul>
    </div>
</nav>